/* --- IMPORTS --- */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* --- VARIABLES --- */
:root {
  /* COLORS */
  --blackColor: #272727;
  --greyColor: #e6e6e6;
  --whiteColor: #fdfdfd;
  --orangeColor: #edba83;
  --darkGreen: #518962;
  --mediumGreen: #67a379;
  --lightGreen: #aac479;
  --ultraLightGreen: #c3d899;

  /* TEXT SIZE */
  --textSizeH1: 4.4rem;
  --textSizeH2: 2.5rem;
  --textSizeH3: 2.2rem;
  --textSizeBase: 1.9rem;
}

/* --- UTILLITIES --- */
*,
*::after,
*::before {
  box-sizing: border-box;
}

section {
  grid-column: 2/-2;
  margin: 10 0;
}
